---
const { p } = Astro.props;
---

<a
  href={`/projects/${p.slug}`}
  class:list={[
    "flex flex-row md:flex-col md:items-start md:p-4 items-center gap-4 col-span-full md:col-span-1 md:border border-primary-500 rounded-xl overflow-clip hover:text-primary-500 transition-colors duration-200 ease-in-out",
    { "md:col-span-2": p.data.large },
  ]}
>
  <!-- TODO add skeleton during loading -->
  <img
    class="w-20 h-20 object-cover rounded-xl"
    src={p.data.image.src}
    alt={p.data.image.alt}
  />
  <div class="flex flex-col gap-1">
    <h3 class="title-large">{p.data.title}</h3>
    <p class="body-medium">{p.data.description}</p>
  </div>
</a>
